<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 开启全局二级缓存，默认是开启的，可不设置 -->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!-- 开启驼峰命名法则 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--<plugins>-->
        <!--&lt;!&ndash; 使用分页插件 &ndash;&gt;-->
        <!--<plugin interceptor="com.github.pagehelper.PageHelper">-->
            <!--<property name="reasonable" value="true"/>-->
        <!--</plugin>-->
    <!--</plugins>-->

</configuration>
 