<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.mapper.ScoremessageMapper">
  <resultMap id="BaseResultMap" type="com.oracle.entity.Scoremessage">
    <id column="scoID" jdbcType="INTEGER" property="scoid" />
    <result column="stuID" jdbcType="INTEGER" property="stuid" />
    <result column="couID" jdbcType="INTEGER" property="couid" />
    <result column="usualscore" jdbcType="INTEGER" property="usualscore" />
    <result column="endscore" jdbcType="INTEGER" property="endscore" />
    <result column="zonghescore" jdbcType="INTEGER" property="zonghescore" />
    <result column="scoremark" jdbcType="VARCHAR" property="scoremark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    scoID, stuID, couID, usualscore, endscore, zonghescore, scoremark
  </sql>
  <select id="selectByExample" parameterType="com.oracle.entity.ScoremessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scoremessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scoremessage
    where scoID = #{scoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from scoremessage
    where scoID = #{scoid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.entity.ScoremessageExample">
    delete from scoremessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.entity.Scoremessage">
    insert into scoremessage (scoID, stuID, couID, 
      usualscore, endscore, zonghescore, 
      scoremark)
    values (#{scoid,jdbcType=INTEGER}, #{stuid,jdbcType=INTEGER}, #{couid,jdbcType=INTEGER}, 
      #{usualscore,jdbcType=INTEGER}, #{endscore,jdbcType=INTEGER}, #{zonghescore,jdbcType=INTEGER}, 
      #{scoremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.entity.Scoremessage">
    insert into scoremessage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scoid != null">
        scoID,
      </if>
      <if test="stuid != null">
        stuID,
      </if>
      <if test="couid != null">
        couID,
      </if>
      <if test="usualscore != null">
        usualscore,
      </if>
      <if test="endscore != null">
        endscore,
      </if>
      <if test="zonghescore != null">
        zonghescore,
      </if>
      <if test="scoremark != null">
        scoremark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scoid != null">
        #{scoid,jdbcType=INTEGER},
      </if>
      <if test="stuid != null">
        #{stuid,jdbcType=INTEGER},
      </if>
      <if test="couid != null">
        #{couid,jdbcType=INTEGER},
      </if>
      <if test="usualscore != null">
        #{usualscore,jdbcType=INTEGER},
      </if>
      <if test="endscore != null">
        #{endscore,jdbcType=INTEGER},
      </if>
      <if test="zonghescore != null">
        #{zonghescore,jdbcType=INTEGER},
      </if>
      <if test="scoremark != null">
        #{scoremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.entity.ScoremessageExample" resultType="java.lang.Long">
    select count(*) from scoremessage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update scoremessage
    <set>
      <if test="record.scoid != null">
        scoID = #{record.scoid,jdbcType=INTEGER},
      </if>
      <if test="record.stuid != null">
        stuID = #{record.stuid,jdbcType=INTEGER},
      </if>
      <if test="record.couid != null">
        couID = #{record.couid,jdbcType=INTEGER},
      </if>
      <if test="record.usualscore != null">
        usualscore = #{record.usualscore,jdbcType=INTEGER},
      </if>
      <if test="record.endscore != null">
        endscore = #{record.endscore,jdbcType=INTEGER},
      </if>
      <if test="record.zonghescore != null">
        zonghescore = #{record.zonghescore,jdbcType=INTEGER},
      </if>
      <if test="record.scoremark != null">
        scoremark = #{record.scoremark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update scoremessage
    set scoID = #{record.scoid,jdbcType=INTEGER},
      stuID = #{record.stuid,jdbcType=INTEGER},
      couID = #{record.couid,jdbcType=INTEGER},
      usualscore = #{record.usualscore,jdbcType=INTEGER},
      endscore = #{record.endscore,jdbcType=INTEGER},
      zonghescore = #{record.zonghescore,jdbcType=INTEGER},
      scoremark = #{record.scoremark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.entity.Scoremessage">
    update scoremessage
    <set>
      <if test="stuid != null">
        stuID = #{stuid,jdbcType=INTEGER},
      </if>
      <if test="couid != null">
        couID = #{couid,jdbcType=INTEGER},
      </if>
      <if test="usualscore != null">
        usualscore = #{usualscore,jdbcType=INTEGER},
      </if>
      <if test="endscore != null">
        endscore = #{endscore,jdbcType=INTEGER},
      </if>
      <if test="zonghescore != null">
        zonghescore = #{zonghescore,jdbcType=INTEGER},
      </if>
      <if test="scoremark != null">
        scoremark = #{scoremark,jdbcType=VARCHAR},
      </if>
    </set>
    where scoID = #{scoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.entity.Scoremessage">
    update scoremessage
    set stuID = #{stuid,jdbcType=INTEGER},
      couID = #{couid,jdbcType=INTEGER},
      usualscore = #{usualscore,jdbcType=INTEGER},
      endscore = #{endscore,jdbcType=INTEGER},
      zonghescore = #{zonghescore,jdbcType=INTEGER},
      scoremark = #{scoremark,jdbcType=VARCHAR}
    where scoID = #{scoid,jdbcType=INTEGER}
  </update>
</mapper>